<h1 class="animated fadeIn fast">Heroes <small>Marvel & DC</small></h1>
<div class="card-columns animated fadeIn">
  <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let id = index">
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
    <div class="card-body">
      <h5 class="card-title">{{ heroe.nombre }}</h5>
      <p class="card-text">{{ heroe.bio }}</p>
      <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
    </div>
    <button (click)="showHeroe(id)" class="btn btn-outline-primary btn-block">See more ...</button>
    <!--a [routerLink]="['/heroe',id]"  class="btn btn-outline-primary btn-block">Ver más ...</a-->
  </div>
</div>
