<h1>{{ heroe.nombre | uppercase }} <small>({{ heroe.aparicion | date:'y' }})</small></h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre">
    <br><br>
    <a [routerLink]="'heroe'" class="btn btn-outline-primary btn-block">Back to heroes ...</a>
  </div>
  <div class="col-md-4">
    <h3>{{ heroe.nombre }}</h3>
    <hr>
    <p>{{ heroe.bio }}</p>
      <img [src]="urlImage" class="img-fluid" [alt]="heroe.casa">
      <!--img ="heroe.casa == 'Marvel'" [src]="assets/img/marvel.png" ] [alt]="heroe.casa"-->
      <!--img  [src]="heroe.getCompany(heroe.casa)" [alt]="heroe.casa"-->

  </div>
</div>
<div>
  <p>{{ heroe.bio }}</p>
</div>
